<div class="landing-page">
  <div class="navbar">
    <div class="links">
      <a href="">About me</a>
      <a href="">My work</a>
    </div>
  </div>
  <div class="container">
    <div class="title">
      João Mateus
    </div>
    <div class="description">
      As s a Landscape Architect I have been always exploring  how technologies can
      complement the creative process in order to achieve a better design and functional
      solution.

      Recently decided to pursue an old desire to study web development and enrolled
      in Le Wagon, the world’s top rated bootcamp. This learning experience turned
      out far above my expectations which made me determined to switch to a career
      in web development.

      It is there that I am sure my creative background, together with my new
      programming skills will complement each-other and develop better products.
    </div>
  </div>
</div>
